:root {
    --text-color: #E8E8E8;
    --border-color: #9AA0A6;
    --border-color-footer: #313335;
    --bg: #202124;
    --bg-button: #303134;
    --bg-footer: #171717;
}

body {
    background-color: var(--bg);
}

a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    width: fit-content; /*Faz com que o a ocupe todo o espaço*/
}

ul {
    list-style: none;
}

/* HEADER */
.menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: .9rem;
}

.menu ul li:last-child {
    zoom: 1.3;
}

.menu ul li a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    text-align: center;
    padding-top: 12rem;
}

.logo {
    margin-bottom: 1.4rem;
}

.box {
    border: 1px solid var(--border-color);
    display: flex;
    justify-self: center;
    padding: .8rem 1rem;
    border-radius: 2rem;
    gap: .8rem;
    margin-bottom: 1.4rem;
}

.box input {
    width: 25rem;
    background-color: transparent;
    outline: none;
    border: none;
}

.box:hover {
    background-color: var(--bg-button);
    border-color: transparent;
}

.box img {
    zoom: .8;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.4rem;
}

.buttons button {
    background-color: var(--bg-button);
    padding: .6rem 1rem;
    border: 1px solid transparent;
    border-radius: .2rem;
}

.buttons button:hover {
    border-color: var(--border-color);
}

p {
    font-size: .8rem;
}

.link-google-br {
    color: #99C3FF;
}

.link-google-br:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: .9rem;
}

.localization {
    background-color: var(--bg-footer);
    padding: .9rem 2rem;
    border-bottom: 1px solid var(--border-color-footer);
}

.menu-footer {
    background-color: var(--bg-footer);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .9rem 2rem;
}

.menu-footer ul {
    display: flex;
    gap: 1rem;
}

.menu-footer ul li a:hover {
    text-decoration: underline;
}